.book{
    position: relative;
    height: 100vh;
    background: url("../assets/pexels-rajesh-tp-1633578.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
}


.heading{
    padding: 1% 0;
    font-size: 1.5em;
}

.heading, .sub__heading{
    color: #fff;
}
.sub__heading{
    font-size: 1.5em;
}

.form__container{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 12% 6%;
    width: 55%;
}

label{
    display: block;
    padding: 0.6em 0;
    color: #fff;
    cursor: pointer;
}
.form__input{
    width: 100%;
    height: 3em;
    background: none;
    border: 1px solid #aaa;
    padding-left: 1em;
    color: #fff;
}
.form__input::placeholder{
    color: #ccc;
}
.form__control:nth-child(4){
    grid-column: 1 / -1;
}

.error__message{
    position: absolute;
    top: 41%;
    color: #f96262;
    font-size: 0.8em;
}

.btn__available{
    padding: 1%;
    margin-top: 4%;
    color: #fff;
    border: none;
    background: #ff4f00;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid;
}