
.food__content{
    width: 22%;
    height: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dish__img{
    width: 100%;
    height: 75%;
}
.image__dish{
    width: 100%;
    height: 100%;
    /* border-radius:  8px 8px 0 0; */
}
.food__description{
    width: 100%;
    height: 25%;
    display: flex;
}
.name__rate{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5%;
    /* align-items: center; */
    /* border-radius: 0 0 0 8px; */
}
.dish__name{
    font-size: 1.5em;
}
.order__now__btn{
    width: 25%;
    height: 100%;
    border: transparent;
    font-weight: 700;
    font-size: 1.5em;
    color: #fff;
    background: rgb(255, 175, 71);
    /* border-radius: 0 0 8px 0; */
}
